
table{
	
	//float:left;
	margin:auto;
	margin-top:5%;
	width:500px;
	height:150px;
	border-right:none; 
   	 border-left:none;
	text-size:20px;
	background-color:#e0e0f8;
	
}
td{
	border-right:2px solid #b2c577;
	border-bottom:2px solid #b2c577;
	background-color:#e0e0f8;
	text-align:center;
	
}
td:last-child {
	border-right:none;
}
tr:last-child td{
	border-bottom:none;
}

